page-about {

  .image {
    border: 2px solid #fff;
    border-radius: 60%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

  }

  .circle-pic{
    width:200px;
    height:200px;
    -webkit-border-radius: 60%;
    border-radius: 60%;
    display:block;
    margin:auto;

  }

  .center-cropped {
    height: 10vw;
    width: 10vw;
    background-position: center center;
    background-repeat: no-repeat;
  }

}
