<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <!--<ion-toolbar>-->
      <!--<ion-buttons>-->
        <!--<button-->
          <!--ion-button icon-only float-start color="danger"-->
          <!--*ngIf="!GENERALMODE"-->
          <!--tooltip="Discard all changes" positionV="bottom" duration="1200"-->
          <!--(click)="discardAllChanges()"-->
        <!--&gt;-->
          <!--<ion-icon name="custom-fire" ></ion-icon>-->
        <!--</button>-->
        <!--<button ion-button icon-only color="secondary" float-end>-->
          <!--<ion-icon [name]="cloudSyncState"></ion-icon>-->
        <!--</button>-->
      <!--</ion-buttons>-->
    <!--</ion-toolbar>-->
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>

  <!--IMAGE CAPTURING VIEW-->
  <ion-list *ngIf="GENERALMODE">
    <div class="row  page-home item">
      <div class="col col-50">
        <button class="page-home btn"
                ion-button small icon-only float-start
                tooltip="Show Saved Images" positionV="bottom"  duration="1200"
                (click)="showSavedImages()"
        >
          <ion-icon name="checkbox"></ion-icon>
        </button>

      </div>
      <div class="col col-50">
        <button class="page-home btn"
                ion-button icon-only float-end
                tooltip="Show Labels Settings" positionV="bottom" duration="1200"
                (click)="showLabelSettings()"
        >
          <ion-icon name="construct"></ion-icon>
        </button>
      </div>
    </div>
    <ion-list class="row">
      <button
        ion-button block full round icon-start
        *ngIf="shahadProject"
        (click)="captureImage()"
        tooltip="Capture Image" positionV="bottom" duration="1200">
        <ion-icon name="camera"></ion-icon>
        Take Picture
      </button>
      <button
        ion-button block full round icon-start
        *ngIf="rafidProject"
        tooltip="Import From Some Source" positionV="bottom" duration="1200"
        (click)="importFromSource()"
      >
        <ion-icon name="md-cloud-download"></ion-icon>
        Import From Source
      </button>
    </ion-list>
  </ion-list>



  <!--EDITED IMAGE VIEW-->
  <ion-list *ngIf="IMAGECAPTUREDMODE">

    <ion-card class="page-home ion-card">
      <ion-card-header>Captured Image</ion-card-header>
      <ion-card-content><img src="{{capturedImage}}"></ion-card-content>

      <ion-list>
        <ion-item class="page-home ItemSpace">
          <ion-label>Label</ion-label>
          <ion-select [(ngModel)]="selectedLabel">
            <ion-option value = "None" >None</ion-option>
            <ion-option *ngFor="let label of allLabels.labels" [value] = "label" >{{label}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <div class="row">
        <div class="col col-25">
          <button
            ion-button icon-start icon-only clear
            float-start
            (click)="storeImage()" [disabled] ="storeButtonDisabled"
          >
            <ion-icon name="custom-floppy-disk"></ion-icon>
          </button>
        </div>
        <div class="col col-25">
          <button
            ion-button icon-start icon-only clear
            float-start=""
            (click)="uploadImage()"
            [disabled] ="uploadButtonDisabled"
          >
            <ion-icon name="custom-cloud-upload"></ion-icon>
          </button>
        </div>
        <div class="col col-25">
          <button
            ion-button icon-end icon-only clear
            float-end
            (click)="captureImage()"
          >
            <ion-icon name="custom-spinner9"></ion-icon>
          </button>
        </div>
        <div class="col col-25">
          <button
            ion-button icon-start icon-only clear
            float-end
            (click)="setGeneralMode()"
          >
            <ion-icon
              name="custom-fire" color="danger"
            ></ion-icon>
          </button>
        </div>
      </div>
    </ion-card>
  </ion-list>


</ion-content>
