<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <div class="row  page-home item" >
      <div class="col col-50">

        <button class="button button-positive" ion-button icon-only float-start>
          <ion-icon name="checkbox"></ion-icon>
        </button>


      </div>
      <div class="col col-50">


        <button class="button button-positive" ion-button icon-only float-end>
          <ion-icon name="construct"></ion-icon>
        </button>


      </div>
    </div>

    <ion-list class="row">


      <button  ion-button block full round icon-start *ngIf="shahadProject">
        <ion-icon name="camera"></ion-icon>Take Picture
      </button>


      <button ion-button block full round  icon-start *ngIf="rafidProject">
        <ion-icon name="md-cloud-download"></ion-icon>
        Import From Source
      </button>


    </ion-list>
  </ion-list>
</ion-content>
