page-home {
  .item{
    margin-top:10px;
    margin-bottom: 20vh;
  }
  .btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px ;
  }
  .ion-card{
    display: flex;
    flex-direction: column;
    width: 95% !important;
    margin: 0.5vh !important;
    min-height: fit-content;
    background-size:  100% 100% !important;
    width : 100% !important;
  }
  .rotate-90 {
    display: inline-block;
    transform: rotate(90deg);
  }
  .row-items{
    display: flex;
  }
  .ItemSpace {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
  }

}
