@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?h7tz1p');
  src:  url('../assets/fonts/icomoon.eot?h7tz1p#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?h7tz1p') format('truetype'),
    url('../assets/fonts/icomoon.woff?h7tz1p') format('woff'),
    url('../assets/fonts/icomoon.svg?h7tz1p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
[class^="ion-ios-icon"],
[class*="ion-ios-icon"],
[class^="ion-md-icon"],
[class*="ion-md-icon"]{
  @extend .ion;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@mixin makeIcon($arg, $val) {
  .ion-ios-#{$arg}:before ,
  .ion-ios-#{$arg}-circle:before ,
  .ion-ios-#{$arg}-circle-outline:before ,
  .ion-ios-#{$arg}-outline:before ,
  .ion-md-#{$arg}:before ,
  .ion-md-#{$arg}-circle:before ,
  .ion-md-#{$arg}-circle-outline:before ,
  .ion-md-#{$arg}-outline:before  {
    content: $val;
    font-size: 26px;
  }
}

@include makeIcon(custom-home, '\e900');
@include makeIcon(custom-home2, '\e901');
@include makeIcon(custom-home3, '\e902');
@include makeIcon(custom-office, '\e903');
@include makeIcon(custom-newspaper, '\e904');
@include makeIcon(custom-pencil, '\e905');
@include makeIcon(custom-pencil2, '\e906');
@include makeIcon(custom-quill, '\e907');
@include makeIcon(custom-pen, '\e908');
@include makeIcon(custom-blog, '\e909');
@include makeIcon(custom-eyedropper, '\e90a');
@include makeIcon(custom-droplet, '\e90b');
@include makeIcon(custom-paint-format, '\e90c');
@include makeIcon(custom-image, '\e90d');
@include makeIcon(custom-images, '\e90e');
@include makeIcon(custom-camera, '\e90f');
@include makeIcon(custom-headphones, '\e910');
@include makeIcon(custom-music, '\e911');
@include makeIcon(custom-play, '\e912');
@include makeIcon(custom-film, '\e913');
@include makeIcon(custom-video-camera, '\e914');
@include makeIcon(custom-dice, '\e915');
@include makeIcon(custom-pacman, '\e916');
@include makeIcon(custom-spades, '\e917');
@include makeIcon(custom-clubs, '\e918');
@include makeIcon(custom-diamonds, '\e919');
@include makeIcon(custom-bullhorn, '\e91a');
@include makeIcon(custom-connection, '\e91b');
@include makeIcon(custom-podcast, '\e91c');
@include makeIcon(custom-feed, '\e91d');
@include makeIcon(custom-mic, '\e91e');
@include makeIcon(custom-book, '\e91f');
@include makeIcon(custom-books, '\e920');
@include makeIcon(custom-library, '\e921');
@include makeIcon(custom-file-text, '\e922');
@include makeIcon(custom-profile, '\e923');
@include makeIcon(custom-file-empty, '\e924');
@include makeIcon(custom-files-empty, '\e925');
@include makeIcon(custom-file-text2, '\e926');
@include makeIcon(custom-file-picture, '\e927');
@include makeIcon(custom-file-music, '\e928');
@include makeIcon(custom-file-play, '\e929');
@include makeIcon(custom-file-video, '\e92a');
@include makeIcon(custom-file-zip, '\e92b');
@include makeIcon(custom-copy, '\e92c');
@include makeIcon(custom-paste, '\e92d');
@include makeIcon(custom-stack, '\e92e');
@include makeIcon(custom-folder, '\e92f');
@include makeIcon(custom-folder-open, '\e930');
@include makeIcon(custom-folder-plus, '\e931');
@include makeIcon(custom-folder-minus, '\e932');
@include makeIcon(custom-folder-download, '\e933');
@include makeIcon(custom-folder-upload, '\e934');
@include makeIcon(custom-price-tag, '\e935');
@include makeIcon(custom-price-tags, '\e936');
@include makeIcon(custom-barcode, '\e937');
@include makeIcon(custom-qrcode, '\e938');
@include makeIcon(custom-ticket, '\e939');
@include makeIcon(custom-cart, '\e93a');
@include makeIcon(custom-coin-dollar, '\e93b');
@include makeIcon(custom-coin-euro, '\e93c');
@include makeIcon(custom-coin-pound, '\e93d');
@include makeIcon(custom-coin-yen, '\e93e');
@include makeIcon(custom-credit-card, '\e93f');
@include makeIcon(custom-calculator, '\e940');
@include makeIcon(custom-lifebuoy, '\e941');
@include makeIcon(custom-phone, '\e942');
@include makeIcon(custom-phone-hang-up, '\e943');
@include makeIcon(custom-address-book, '\e944');
@include makeIcon(custom-envelop, '\e945');
@include makeIcon(custom-pushpin, '\e946');
@include makeIcon(custom-location, '\e947');
@include makeIcon(custom-location2, '\e948');
@include makeIcon(custom-compass, '\e949');
@include makeIcon(custom-compass2, '\e94a');
@include makeIcon(custom-map, '\e94b');
@include makeIcon(custom-map2, '\e94c');
@include makeIcon(custom-history, '\e94d');
@include makeIcon(custom-clock, '\e94e');
@include makeIcon(custom-clock2, '\e94f');
@include makeIcon(custom-alarm, '\e950');
@include makeIcon(custom-bell, '\e951');
@include makeIcon(custom-stopwatch, '\e952');
@include makeIcon(custom-calendar, '\e953');
@include makeIcon(custom-printer, '\e954');
@include makeIcon(custom-keyboard, '\e955');
@include makeIcon(custom-display, '\e956');
@include makeIcon(custom-laptop, '\e957');
@include makeIcon(custom-mobile, '\e958');
@include makeIcon(custom-mobile2, '\e959');
@include makeIcon(custom-tablet, '\e95a');
@include makeIcon(custom-tv, '\e95b');
@include makeIcon(custom-drawer, '\e95c');
@include makeIcon(custom-drawer2, '\e95d');
@include makeIcon(custom-box-add, '\e95e');
@include makeIcon(custom-box-remove, '\e95f');
@include makeIcon(custom-download, '\e960');
@include makeIcon(custom-upload, '\e961');
@include makeIcon(custom-floppy-disk, '\e962');
@include makeIcon(custom-drive, '\e963');
@include makeIcon(custom-database, '\e964');
@include makeIcon(custom-undo, '\e965');
@include makeIcon(custom-redo, '\e966');
@include makeIcon(custom-undo2, '\e967');
@include makeIcon(custom-redo2, '\e968');
@include makeIcon(custom-forward, '\e969');
@include makeIcon(custom-reply, '\e96a');
@include makeIcon(custom-bubble, '\e96b');
@include makeIcon(custom-bubbles, '\e96c');
@include makeIcon(custom-bubbles2, '\e96d');
@include makeIcon(custom-bubble2, '\e96e');
@include makeIcon(custom-bubbles3, '\e96f');
@include makeIcon(custom-bubbles4, '\e970');
@include makeIcon(custom-user, '\e971');
@include makeIcon(custom-users, '\e972');
@include makeIcon(custom-user-plus, '\e973');
@include makeIcon(custom-user-minus, '\e974');
@include makeIcon(custom-user-check, '\e975');
@include makeIcon(custom-user-tie, '\e976');
@include makeIcon(custom-quotes-left, '\e977');
@include makeIcon(custom-quotes-right, '\e978');
@include makeIcon(custom-hour-glass, '\e979');
@include makeIcon(custom-spinner, '\e97a');
@include makeIcon(custom-spinner2, '\e97b');
@include makeIcon(custom-spinner3, '\e97c');
@include makeIcon(custom-spinner4, '\e97d');
@include makeIcon(custom-spinner5, '\e97e');
@include makeIcon(custom-spinner6, '\e97f');
@include makeIcon(custom-spinner7, '\e980');
@include makeIcon(custom-spinner8, '\e981');
@include makeIcon(custom-spinner9, '\e982');
@include makeIcon(custom-spinner10, '\e983');
@include makeIcon(custom-spinner11, '\e984');
@include makeIcon(custom-binoculars, '\e985');
@include makeIcon(custom-search, '\e986');
@include makeIcon(custom-zoom-in, '\e987');
@include makeIcon(custom-zoom-out, '\e988');
@include makeIcon(custom-enlarge, '\e989');
@include makeIcon(custom-shrink, '\e98a');
@include makeIcon(custom-enlarge2, '\e98b');
@include makeIcon(custom-shrink2, '\e98c');
@include makeIcon(custom-key, '\e98d');
@include makeIcon(custom-key2, '\e98e');
@include makeIcon(custom-lock, '\e98f');
@include makeIcon(custom-unlocked, '\e990');
@include makeIcon(custom-wrench, '\e991');
@include makeIcon(custom-equalizer, '\e992');
@include makeIcon(custom-equalizer2, '\e993');
@include makeIcon(custom-cog, '\e994');
@include makeIcon(custom-cogs, '\e995');
@include makeIcon(custom-hammer, '\e996');
@include makeIcon(custom-magic-wand, '\e997');
@include makeIcon(custom-aid-kit, '\e998');
@include makeIcon(custom-bug, '\e999');
@include makeIcon(custom-pie-chart, '\e99a');
@include makeIcon(custom-stats-dots, '\e99b');
@include makeIcon(custom-stats-bars, '\e99c');
@include makeIcon(custom-stats-bars2, '\e99d');
@include makeIcon(custom-trophy, '\e99e');
@include makeIcon(custom-gift, '\e99f');
@include makeIcon(custom-glass, '\e9a0');
@include makeIcon(custom-glass2, '\e9a1');
@include makeIcon(custom-mug, '\e9a2');
@include makeIcon(custom-spoon-knife, '\e9a3');
@include makeIcon(custom-leaf, '\e9a4');
@include makeIcon(custom-rocket, '\e9a5');
@include makeIcon(custom-meter, '\e9a6');
@include makeIcon(custom-meter2, '\e9a7');
@include makeIcon(custom-hammer2, '\e9a8');
@include makeIcon(custom-fire, '\e9a9');
@include makeIcon(custom-lab, '\e9aa');
@include makeIcon(custom-magnet, '\e9ab');
@include makeIcon(custom-bin, '\e9ac');
@include makeIcon(custom-bin2, '\e9ad');
@include makeIcon(custom-briefcase, '\e9ae');
@include makeIcon(custom-airplane, '\e9af');
@include makeIcon(custom-truck, '\e9b0');
@include makeIcon(custom-road, '\e9b1');
@include makeIcon(custom-accessibility, '\e9b2');
@include makeIcon(custom-target, '\e9b3');
@include makeIcon(custom-shield, '\e9b4');
@include makeIcon(custom-power, '\e9b5');
@include makeIcon(custom-switch, '\e9b6');
@include makeIcon(custom-power-cord, '\e9b7');
@include makeIcon(custom-clipboard, '\e9b8');
@include makeIcon(custom-list-numbered, '\e9b9');
@include makeIcon(custom-list, '\e9ba');
@include makeIcon(custom-list2, '\e9bb');
@include makeIcon(custom-tree, '\e9bc');
@include makeIcon(custom-menu, '\e9bd');
@include makeIcon(custom-menu2, '\e9be');
@include makeIcon(custom-menu3, '\e9bf');
@include makeIcon(custom-menu4, '\e9c0');
@include makeIcon(custom-cloud, '\e9c1');
@include makeIcon(custom-cloud-download, '\e9c2');
@include makeIcon(custom-cloud-upload, '\e9c3');
@include makeIcon(custom-cloud-check, '\e9c4');
@include makeIcon(custom-download2, '\e9c5');
@include makeIcon(custom-upload2, '\e9c6');
@include makeIcon(custom-download3, '\e9c7');
@include makeIcon(custom-upload3, '\e9c8');
@include makeIcon(custom-sphere, '\e9c9');
@include makeIcon(custom-earth, '\e9ca');
@include makeIcon(custom-link, '\e9cb');
@include makeIcon(custom-flag, '\e9cc');
@include makeIcon(custom-attachment, '\e9cd');
@include makeIcon(custom-eye, '\e9ce');
@include makeIcon(custom-eye-plus, '\e9cf');
@include makeIcon(custom-eye-minus, '\e9d0');
@include makeIcon(custom-eye-blocked, '\e9d1');
@include makeIcon(custom-bookmark, '\e9d2');
@include makeIcon(custom-bookmarks, '\e9d3');
@include makeIcon(custom-sun, '\e9d4');
@include makeIcon(custom-contrast, '\e9d5');
@include makeIcon(custom-brightness-contrast, '\e9d6');
@include makeIcon(custom-star-empty, '\e9d7');
@include makeIcon(custom-star-half, '\e9d8');
@include makeIcon(custom-star-full, '\e9d9');
@include makeIcon(custom-heart, '\e9da');
@include makeIcon(custom-heart-broken, '\e9db');
@include makeIcon(custom-man, '\e9dc');
@include makeIcon(custom-woman, '\e9dd');
@include makeIcon(custom-man-woman, '\e9de');
@include makeIcon(custom-happy, '\e9df');
@include makeIcon(custom-happy2, '\e9e0');
@include makeIcon(custom-smile, '\e9e1');
@include makeIcon(custom-smile2, '\e9e2');
@include makeIcon(custom-tongue, '\e9e3');
@include makeIcon(custom-tongue2, '\e9e4');
@include makeIcon(custom-sad, '\e9e5');
@include makeIcon(custom-sad2, '\e9e6');
@include makeIcon(custom-wink, '\e9e7');
@include makeIcon(custom-wink2, '\e9e8');
@include makeIcon(custom-grin, '\e9e9');
@include makeIcon(custom-grin2, '\e9ea');
@include makeIcon(custom-cool, '\e9eb');
@include makeIcon(custom-cool2, '\e9ec');
@include makeIcon(custom-angry, '\e9ed');
@include makeIcon(custom-angry2, '\e9ee');
@include makeIcon(custom-evil, '\e9ef');
@include makeIcon(custom-evil2, '\e9f0');
@include makeIcon(custom-shocked, '\e9f1');
@include makeIcon(custom-shocked2, '\e9f2');
@include makeIcon(custom-baffled, '\e9f3');
@include makeIcon(custom-baffled2, '\e9f4');
@include makeIcon(custom-confused, '\e9f5');
@include makeIcon(custom-confused2, '\e9f6');
@include makeIcon(custom-neutral, '\e9f7');
@include makeIcon(custom-neutral2, '\e9f8');
@include makeIcon(custom-hipster, '\e9f9');
@include makeIcon(custom-hipster2, '\e9fa');
@include makeIcon(custom-wondering, '\e9fb');
@include makeIcon(custom-wondering2, '\e9fc');
@include makeIcon(custom-sleepy, '\e9fd');
@include makeIcon(custom-sleepy2, '\e9fe');
@include makeIcon(custom-frustrated, '\e9ff');
@include makeIcon(custom-frustrated2, '\ea00');
@include makeIcon(custom-crying, '\ea01');
@include makeIcon(custom-crying2, '\ea02');
@include makeIcon(custom-point-up, '\ea03');
@include makeIcon(custom-point-right, '\ea04');
@include makeIcon(custom-point-down, '\ea05');
@include makeIcon(custom-point-left, '\ea06');
@include makeIcon(custom-warning, '\ea07');
@include makeIcon(custom-notification, '\ea08');
@include makeIcon(custom-question, '\ea09');
@include makeIcon(custom-plus, '\ea0a');
@include makeIcon(custom-minus, '\ea0b');
@include makeIcon(custom-info, '\ea0c');
@include makeIcon(custom-cancel-circle, '\ea0d');
@include makeIcon(custom-blocked, '\ea0e');
@include makeIcon(custom-cross, '\ea0f');
@include makeIcon(custom-checkmark, '\ea10');
@include makeIcon(custom-checkmark2, '\ea11');
@include makeIcon(custom-spell-check, '\ea12');
@include makeIcon(custom-enter, '\ea13');
@include makeIcon(custom-exit, '\ea14');
@include makeIcon(custom-play2, '\ea15');
@include makeIcon(custom-pause, '\ea16');
@include makeIcon(custom-stop, '\ea17');
@include makeIcon(custom-previous, '\ea18');
@include makeIcon(custom-next, '\ea19');
@include makeIcon(custom-backward, '\ea1a');
@include makeIcon(custom-forward2, '\ea1b');
@include makeIcon(custom-play3, '\ea1c');
@include makeIcon(custom-pause2, '\ea1d');
@include makeIcon(custom-stop2, '\ea1e');
@include makeIcon(custom-backward2, '\ea1f');
@include makeIcon(custom-forward3, '\ea20');
@include makeIcon(custom-first, '\ea21');
@include makeIcon(custom-last, '\ea22');
@include makeIcon(custom-previous2, '\ea23');
@include makeIcon(custom-next2, '\ea24');
@include makeIcon(custom-eject, '\ea25');
@include makeIcon(custom-volume-high, '\ea26');
@include makeIcon(custom-volume-medium, '\ea27');
@include makeIcon(custom-volume-low, '\ea28');
@include makeIcon(custom-volume-mute, '\ea29');
@include makeIcon(custom-volume-mute2, '\ea2a');
@include makeIcon(custom-volume-increase, '\ea2b');
@include makeIcon(custom-volume-decrease, '\ea2c');
@include makeIcon(custom-loop, '\ea2d');
@include makeIcon(custom-loop2, '\ea2e');
@include makeIcon(custom-infinite, '\ea2f');
@include makeIcon(custom-shuffle, '\ea30');
@include makeIcon(custom-arrow-up-left, '\ea31');
@include makeIcon(custom-arrow-up, '\ea32');
@include makeIcon(custom-arrow-up-right, '\ea33');
@include makeIcon(custom-arrow-right, '\ea34');
@include makeIcon(custom-arrow-down-right, '\ea35');
@include makeIcon(custom-arrow-down, '\ea36');
@include makeIcon(custom-arrow-down-left, '\ea37');
@include makeIcon(custom-arrow-left, '\ea38');
@include makeIcon(custom-arrow-up-left2, '\ea39');
@include makeIcon(custom-arrow-up2, '\ea3a');
@include makeIcon(custom-arrow-up-right2, '\ea3b');
@include makeIcon(custom-arrow-right2, '\ea3c');
@include makeIcon(custom-arrow-down-right2, '\ea3d');
@include makeIcon(custom-arrow-down2, '\ea3e');
@include makeIcon(custom-arrow-down-left2, '\ea3f');
@include makeIcon(custom-arrow-left2, '\ea40');
@include makeIcon(custom-circle-up, '\ea41');
@include makeIcon(custom-circle-right, '\ea42');
@include makeIcon(custom-circle-down, '\ea43');
@include makeIcon(custom-circle-left, '\ea44');
@include makeIcon(custom-tab, '\ea45');
@include makeIcon(custom-move-up, '\ea46');
@include makeIcon(custom-move-down, '\ea47');
@include makeIcon(custom-sort-alpha-asc, '\ea48');
@include makeIcon(custom-sort-alpha-desc, '\ea49');
@include makeIcon(custom-sort-numeric-asc, '\ea4a');
@include makeIcon(custom-sort-numberic-desc, '\ea4b');
@include makeIcon(custom-sort-amount-asc, '\ea4c');
@include makeIcon(custom-sort-amount-desc, '\ea4d');
@include makeIcon(custom-command, '\ea4e');
@include makeIcon(custom-shift, '\ea4f');
@include makeIcon(custom-ctrl, '\ea50');
@include makeIcon(custom-opt, '\ea51');
@include makeIcon(custom-checkbox-checked, '\ea52');
@include makeIcon(custom-checkbox-unchecked, '\ea53');
@include makeIcon(custom-radio-checked, '\ea54');
@include makeIcon(custom-radio-checked2, '\ea55');
@include makeIcon(custom-radio-unchecked, '\ea56');
@include makeIcon(custom-crop, '\ea57');
@include makeIcon(custom-make-group, '\ea58');
@include makeIcon(custom-ungroup, '\ea59');
@include makeIcon(custom-scissors, '\ea5a');
@include makeIcon(custom-filter, '\ea5b');
@include makeIcon(custom-font, '\ea5c');
@include makeIcon(custom-ligature, '\ea5d');
@include makeIcon(custom-ligature2, '\ea5e');
@include makeIcon(custom-text-height, '\ea5f');
@include makeIcon(custom-text-width, '\ea60');
@include makeIcon(custom-font-size, '\ea61');
@include makeIcon(custom-bold, '\ea62');
@include makeIcon(custom-underline, '\ea63');
@include makeIcon(custom-italic, '\ea64');
@include makeIcon(custom-strikethrough, '\ea65');
@include makeIcon(custom-omega, '\ea66');
@include makeIcon(custom-sigma, '\ea67');
@include makeIcon(custom-page-break, '\ea68');
@include makeIcon(custom-superscript, '\ea69');
@include makeIcon(custom-subscript, '\ea6a');
@include makeIcon(custom-superscript2, '\ea6b');
@include makeIcon(custom-subscript2, '\ea6c');
@include makeIcon(custom-text-color, '\ea6d');
@include makeIcon(custom-pagebreak, '\ea6e');
@include makeIcon(custom-clear-formatting, '\ea6f');
@include makeIcon(custom-table, '\ea70');
@include makeIcon(custom-table2, '\ea71');
@include makeIcon(custom-insert-template, '\ea72');
@include makeIcon(custom-pilcrow, '\ea73');
@include makeIcon(custom-ltr, '\ea74');
@include makeIcon(custom-rtl, '\ea75');
@include makeIcon(custom-section, '\ea76');
@include makeIcon(custom-paragraph-left, '\ea77');
@include makeIcon(custom-paragraph-center, '\ea78');
@include makeIcon(custom-paragraph-right, '\ea79');
@include makeIcon(custom-paragraph-justify, '\ea7a');
@include makeIcon(custom-indent-increase, '\ea7b');
@include makeIcon(custom-indent-decrease, '\ea7c');
@include makeIcon(custom-share, '\ea7d');
@include makeIcon(custom-new-tab, '\ea7e');
@include makeIcon(custom-embed, '\ea7f');
@include makeIcon(custom-embed2, '\ea80');
@include makeIcon(custom-terminal, '\ea81');
@include makeIcon(custom-share2, '\ea82');
@include makeIcon(custom-mail, '\ea83');
@include makeIcon(custom-mail2, '\ea84');
@include makeIcon(custom-mail3, '\ea85');
@include makeIcon(custom-mail4, '\ea86');
@include makeIcon(custom-amazon, '\ea87');
@include makeIcon(custom-google, '\ea88');
@include makeIcon(custom-google2, '\ea89');
@include makeIcon(custom-google3, '\ea8a');
@include makeIcon(custom-google-plus, '\ea8b');
@include makeIcon(custom-google-plus2, '\ea8c');
@include makeIcon(custom-google-plus3, '\ea8d');
@include makeIcon(custom-hangouts, '\ea8e');
@include makeIcon(custom-google-drive, '\ea8f');
@include makeIcon(custom-facebook, '\ea90');
@include makeIcon(custom-facebook2, '\ea91');
@include makeIcon(custom-instagram, '\ea92');
@include makeIcon(custom-whatsapp, '\ea93');
@include makeIcon(custom-spotify, '\ea94');
@include makeIcon(custom-telegram, '\ea95');
@include makeIcon(custom-twitter, '\ea96');
@include makeIcon(custom-vine, '\ea97');
@include makeIcon(custom-vk, '\ea98');
@include makeIcon(custom-renren, '\ea99');
@include makeIcon(custom-sina-weibo, '\ea9a');
@include makeIcon(custom-rss, '\ea9b');
@include makeIcon(custom-rss2, '\ea9c');
@include makeIcon(custom-youtube, '\ea9d');
@include makeIcon(custom-youtube2, '\ea9e');
@include makeIcon(custom-twitch, '\ea9f');
@include makeIcon(custom-vimeo, '\eaa0');
@include makeIcon(custom-vimeo2, '\eaa1');
@include makeIcon(custom-lanyrd, '\eaa2');
@include makeIcon(custom-flickr, '\eaa3');
@include makeIcon(custom-flickr2, '\eaa4');
@include makeIcon(custom-flickr3, '\eaa5');
@include makeIcon(custom-flickr4, '\eaa6');
@include makeIcon(custom-dribbble, '\eaa7');
@include makeIcon(custom-behance, '\eaa8');
@include makeIcon(custom-behance2, '\eaa9');
@include makeIcon(custom-deviantart, '\eaaa');
@include makeIcon(custom-500px, '\eaab');
@include makeIcon(custom-steam, '\eaac');
@include makeIcon(custom-steam2, '\eaad');
@include makeIcon(custom-dropbox, '\eaae');
@include makeIcon(custom-onedrive, '\eaaf');
@include makeIcon(custom-github, '\eab0');
@include makeIcon(custom-npm, '\eab1');
@include makeIcon(custom-basecamp, '\eab2');
@include makeIcon(custom-trello, '\eab3');
@include makeIcon(custom-wordpress, '\eab4');
@include makeIcon(custom-joomla, '\eab5');
@include makeIcon(custom-ello, '\eab6');
@include makeIcon(custom-blogger, '\eab7');
@include makeIcon(custom-blogger2, '\eab8');
@include makeIcon(custom-tumblr, '\eab9');
@include makeIcon(custom-tumblr2, '\eaba');
@include makeIcon(custom-yahoo, '\eabb');
@include makeIcon(custom-yahoo2, '\eabc');
@include makeIcon(custom-tux, '\eabd');
@include makeIcon(custom-appleinc, '\eabe');
@include makeIcon(custom-finder, '\eabf');
@include makeIcon(custom-android, '\eac0');
@include makeIcon(custom-windows, '\eac1');
@include makeIcon(custom-windows8, '\eac2');
@include makeIcon(custom-soundcloud, '\eac3');
@include makeIcon(custom-soundcloud2, '\eac4');
@include makeIcon(custom-skype, '\eac5');
@include makeIcon(custom-reddit, '\eac6');
@include makeIcon(custom-hackernews, '\eac7');
@include makeIcon(custom-wikipedia, '\eac8');
@include makeIcon(custom-linkedin, '\eac9');
@include makeIcon(custom-linkedin2, '\eaca');
@include makeIcon(custom-lastfm, '\eacb');
@include makeIcon(custom-lastfm2, '\eacc');
@include makeIcon(custom-delicious, '\eacd');
@include makeIcon(custom-stumbleupon, '\eace');
@include makeIcon(custom-stumbleupon2, '\eacf');
@include makeIcon(custom-stackoverflow, '\ead0');
@include makeIcon(custom-pinterest, '\ead1');
@include makeIcon(custom-pinterest2, '\ead2');
@include makeIcon(custom-xing, '\ead3');
@include makeIcon(custom-xing2, '\ead4');
@include makeIcon(custom-flattr, '\ead5');
@include makeIcon(custom-foursquare, '\ead6');
@include makeIcon(custom-yelp, '\ead7');
@include makeIcon(custom-paypal, '\ead8');
@include makeIcon(custom-chrome, '\ead9');
@include makeIcon(custom-firefox, '\eada');
@include makeIcon(custom-IE, '\eadb');
@include makeIcon(custom-edge, '\eadc');
@include makeIcon(custom-safari, '\eadd');
@include makeIcon(custom-opera, '\eade');
@include makeIcon(custom-file-pdf, '\eadf');
@include makeIcon(custom-file-openoffice, '\eae0');
@include makeIcon(custom-file-word, '\eae1');
@include makeIcon(custom-file-excel, '\eae2');
@include makeIcon(custom-libreoffice, '\eae3');
@include makeIcon(custom-html-five, '\eae4');
@include makeIcon(custom-html-five2, '\eae5');
@include makeIcon(custom-css3, '\eae6');
@include makeIcon(custom-git, '\eae7');
@include makeIcon(custom-codepen, '\eae8');
@include makeIcon(custom-svg, '\eae9');
@include makeIcon(custom-IcoMoon, '\eaea');
