<!--
  Generated template for the ImageListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Saved Images</ion-title>
    <ion-buttons end *ngIf = "imageList">
      <button tooltip="Upload All Images" positionV="bottom" duration="300" ion-button icon-only (click)="uploadAll()">
        <ion-icon name="custom-cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of imageList; let idx = index">
      <ion-thumbnail item-start>
        <img src="{{item.imagePath}}">
      </ion-thumbnail>
      <h2>{{item.imageLabel}}</h2>
      <p>{{item.imageName}}</p>
      <button ion-button clear item-end color="danger" (click)="deleteItem(item)">Delete</button>
    </ion-item>
  </ion-list>

</ion-content>
